<%= simple_form_for @borrower do |f| %>
  <%= f.input :legal_name, required: false %>
  <%= f.input :cnpj %>

  <div class="section">
    <h5>Phone(s)</h5>
    <div class="card horizontal">
      <div class="card-stacked">    
        <%= f.simple_fields_for :phones do |phone| %>
          <%= render 'phone_fields', f: phone %>
        <% end %>
        <div class="card-action">        
          <div class='col s2 pull-s10'><%= link_to_add_association 'add phone', f, :phones %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h5>Address(es)</h5>
    <div class="card horizontal">
      <div class="card-stacked">     
        <%= f.simple_fields_for :addresses do |address| %>
          <%= render 'address_fields', f: address %>
        <% end %>
        <div class="card-action">        
          <div class='col s2 pull-s10'><%= link_to_add_association 'add address', f, :addresses %></div>
        </div>
      </div>
    </div>
  </div>  

  <div class='row'>
    <div class='col s2 offset-s8'><%= link_to custom_icon('keyboard_arrow_left', 'back'), borrowers_path, class: 'btn waves-effect deep-orange-2' %></div>
    <div class='col s2'><%= f.button :submit, class: 'btn waves-effect waves-light' %></div>
  </div>
<% end %>
